@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
  /* font-family: system-ui, "Inter", Helvetica, Arial, sans-serif; */
  /* font-weight: 400; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
  color-scheme: dark;
  color: #e5e7eb;
  background-color: #0b1020;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-background {
  background: linear-gradient(197deg, #DA3D4B 0%, #FF6657 25%, #FEBB51 63%, #F9B314 100%)
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b1020;
  color: #e5e7eb;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

